{% extends 'base.html.twig' %}

{% block title %}Agent{% endblock %}

{% block body %}
    <h1>Agent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>#</th>
                <td>{{ agent }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_agent_index') }}">retour à la liste </a>

    <a href="{{ path('app_agent_edit', {'id': agent.id}) }}"><span class="fa fa-edit"></span></a>

    {{ include('agent/_delete_form.html.twig') }}
{% endblock %}
