{% extends 'base.html.twig' %}

{% block title %}Edit ModePaiement{% endblock %}

{% block body %}
    <h1>Edit ModePaiement</h1>

    {{ include('mode_paiement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_mode_paiement_index') }}">retour à la liste </a>

    {{ include('mode_paiement/_delete_form.html.twig') }}
{% endblock %}
