<form method="post" action="{{ path('app_organisation_delete', {'id': organisation.id}) }}" onsubmit="return confirm('Etes-vous sûre de vouloir supprimer cet élément?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ organisation.id) }}">
    <button class="btn btn-danger"><span class="fa fa-trash"> </span>Supprimer </button>
</form>
